*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

.container{
width: 100%;
height: 100vh;
background: blue;
display: flex;
align-items: center;
justify-content: center;
}

form{
background: white;
display: flex;
flex-direction: column;
padding: 2vw, 4vw;
width: 90%;
max-width: 500px;
border-radius: 10px;
}

form h3 {
color: red;
font-weight: 1000;
margin-bottom: 5px;
}

form input, form textarea {
border: 0;
margin: 8px 5;
padding: 20px;
outline: none;
background: pink;
font-size: 15px;
}

form button {
padding: 15px;
background: red;
color: white;
font-size: 20px;
border: 0;
outline: none;
cursor: pointer;
width: 150px;
margin: 10px auto 0;
border-radius: 30px;
}